b==1.0.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
DateTime==5.2
dragonxxdlib==1.0.0
fore==0.1
gdolib==0.3.1
HamodyTools==0.0.2
idna==3.4
instaloader==4.10
names==0.3.0
OneClick==3.0.1
pafy==0.5.5
pyfiglet==0.8.post1
pyshorteners==1.0.1
pyTelegramBotAPI==4.12.0
pytz==2023.3
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
stdiomask==0.0.6
telebot==0.0.5
urllib3==2.0.4
user-agent==0.1.10
uuid==1.30
youtube-dl==2021.12.17
zope.interface==6.0 
